{% extends "base.html" %} {% block title %}Applications{% endblock %} {% block
content %}
<h1>Applications</h1>
<ul>
  {% for table in tables %}
  <li style="font-size: 20px; font-weight: bold">
    {{ table }} - <span style="color: red">Pending</span>
    <div>
      <div>
        <button
          class="btn btn-primary"
          onclick="redirectToForm('/{{ table }}', 'button1')"
        >
          Edit
        </button>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
<script>
  function redirectToForm(variable, buttonType) {
    var route = "/form" + variable + "?button_type=" + buttonType;
    window.location.href = route;
  }
</script>
{% endblock %}
