{% extends "base.html" %} {% block title %}BirthCertificate{% endblock %} {%
block content %}
<link rel="stylesheet" href="/static/style_form.css" />
<div class="container mt-5 mb-5">
  <form
    method="POST"
    enctype="multipart/form-data"
    style="color: white"
    onsubmit="return validateForm()"
  >
    <h3 align="center">Please fill in this form</h3>
    <div class="container mt-5">
      <div class="row text-center">
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="service-card mx-auto">
            <div class="d-flex align-items-center justify-content-center">
              <img
                id="cardImage"
                class="card-img-top2"
                src="{% if Birth_certificate.photo %}/static/uploads/{{ Birth_certificate.photo.split('/')[-1] }}{% else %}https://via.placeholder.com/300x400{% endif %}"
                alt="Placeholder Image"
              />
            </div>
            {{ form.hidden_tag() }}
            <input
              type="file"
              id="fileInput"
              name="fileInput"
              style="display: none"
              onchange="previewImage(this)"
            />

            <!-- Visible button to trigger file input click -->
            <button
              type="button"
              class="btn btn-primary rounded-bottom"
              style="width: 175px;"
              onclick="openFileInput()"
            >
              Select Image
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"
            value="{{Birth_certificate.firstName if Birth_certificate.firstName}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="fatherName">Father's Name</label>
          <input
            type="text"
            class="form-control"
            id="fatherName"
            name="fatherName"
            placeholder="Enter Father's name"
            value="{{Birth_certificate.fatherName if Birth_certificate.fatherName}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="gfatherName">Grandfather's Name</label>
          <input
            type="text"
            class="form-control"
            id="gfatherName"
            name="gfatherName"
            placeholder="Enter Grandfather's name"
            value="{{Birth_certificate.gfatherName if Birth_certificate.gfatherName}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="birthDay">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            id="birthDay"
            name="birthDay"
            placeholder="Enter Date of Birth"
            value="{{Birth_certificate.birthDay if Birth_certificate.birthDay}}"
            required
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name="gender" required>
            <option value="">Select Gender</option>
            {% if Birth_certificate.gender %}
            <option value="{{ Birth_certificate.gender }}" selected>
              {{ Birth_certificate.gender }}
            </option>
            {% endif %}
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="region">Region</label>
          <input
            type="text"
            class="form-control"
            id="region"
            name="region"
            placeholder="Enter Region"
            value="{{Birth_certificate.region if Birth_certificate.region}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="fatherfullName">Father's Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fatherfullName"
            name="fatherfullName"
            placeholder="Enter Father's Full Name"
            value="{{Birth_certificate.fatherfullName if Birth_certificate.fatherfullName}}"
            required
          />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="motherfullName">Mother's Full Name</label>
          <input
            type="text"
            class="form-control"
            id="motherfullName"
            name="motherfullName"
            placeholder="Enter Mother's Full Name"
            value="{{Birth_certificate.motherfullName if Birth_certificate.motherfullName}}"
            required
          />
        </div>
      </div>
    </div>

    <br />
    <!-- Additional form rows -->

    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary btn-sm" style="width: 100px">
        Submit
      </button>
    </div>
  </form>

  <script>
    function redirectToForm(formPath) {
      // Add your logic to redirect to the specified form path
      console.log("Redirect to form: " + formPath);

      // Trigger the file input click when "Apply" is clicked
      var fileUploadButton = document.getElementById("fileUpload");
      fileUploadButton.click();
    }

    function openFileInput() {
      // Trigger the hidden file input click when the button is clicked
      document.getElementById("fileInput").click();
    }

    function validateForm() {
      var fileInput = document.getElementById("fileInput");
      var photoPath = "{{ Birth_certificate.photo }}";
      if (!photoPath && fileInput.files.length === 0) {
        alert("Please upload an image.");
        return false;
      }
      return true;
    }

    function previewImage(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
            document.getElementById('cardImage').src = e.target.result;
        }
        
        reader.readAsDataURL(input.files[0]);
    }
}

var photoPath = "{% if Birth_certificate.photo %}/static/uploads/{{ Birth_certificate.photo.split('/')[-1] }}{% else %}https://via.placeholder.com/300x400{% endif %}"
if (photoPath && photoPath !== "https://via.placeholder.com/300x400") {
      var image = document.getElementById("cardImage");
      image.src = photoPath;
    }
  </script>
</div>
{% endblock %}
