{% extends "base.html" %} {% block title %}Driver'slicense{% endblock %} {%
block content %}
<form
  method="POST"
  enctype="multipart/form-data"
  onsubmit="return validateForm()"
>
  <h3 align="center">Please fill in this form</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter first name"
          value="{{Driver_license_renewal.firstName if Driver_license_renewal.firstName}}"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="fatherName">Father's Name</label>
        <input
          type="text"
          class="form-control"
          id="fatherName"
          name="fatherName"
          placeholder="Enter Father's name"
          value="{{Driver_license_renewal.fatherName if Driver_license_renewal.fatherName}}"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="gfatherName">Grandfather's Name</label>
        <input
          type="text"
          class="form-control"
          id="gfatherName"
          name="gfatherName"
          placeholder="Enter Grandfather's name"
          value="{{Driver_license_renewal.gfatherName if Driver_license_renewal.gfatherName}}"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="birthDay">Date of Birth</label>
        <input
          type="date"
          class="form-control"
          id="birthDay"
          name="birthDay"
          placeholder="Enter Date of Birth"
          value="{{Driver_license_renewal.birthDay if Driver_license_renewal.birthDay}}"
          required
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender" required>
          <option value="">Select Gender</option>
          {% if Driver_license_renewal.gender %}
          <option value="{{ Driver_license_renewal.gender }}" selected>
            {{ Driver_license_renewal.gender }}
          </option>
          {% endif %}
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="region">Region</label>
        <input
          type="text"
          class="form-control"
          id="region"
          name="region"
          placeholder="Enter Region"
          value="{{Driver_license_renewal.region if Driver_license_renewal.region}}"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="photo">Upload a 3x4 photo(.jpg or .png)</label>
        {{form.hidden_tag()}} {{form.file()}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="subCity">Sub-City</label>
        <input
          type="text"
          class="form-control"
          id="subCity"
          name="subCity"
          placeholder="Enter Sub-City"
          value="{{Driver_license_renewal.subCity if Driver_license_renewal.subCity}}"
          required
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="woreda">Woreda</label>
        <input
          type="text"
          class="form-control"
          id="woreda"
          name="woreda"
          placeholder="Enter Woreda"
          value="{{Driver_license_renewal.woreda if Driver_license_renewal.woreda}}"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="houseNumber">House Number</label>
        <input
          type="text"
          class="form-control"
          id="houseNumber"
          name="houseNumber"
          placeholder="Enter House Number"
          value="{{Driver_license_renewal.houseNumber if Driver_license_renewal.houseNumber}}"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          id="phoneNumber"
          name="phoneNumber"
          placeholder="Enter Phone Number(+251-{9 digits})"
          value="{{Driver_license_renewal.phoneNumber if Driver_license_renewal.phoneNumber}}"
          pattern="^(\+251-)?\d{9}$"
          value="+251-"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bloodType">Blood Type</label>
        <select class="form-control" id="bloodType" name="bloodType" required>
          <option value="">Select Bloodtype</option>
          {% if Driver_license_renewal.bloodType %}
          <option value="{{ Driver_license_renewal.bloodType }}" selected>
            {{ Driver_license_renewal.bloodType }}
          </option>
          {% endif %}
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="expiryDate">Current ID Expiry Date</label>
        <input
          type="date"
          class="form-control"
          id="expiryDate"
          name="expiryDate"
          placeholder="Current ID Expiry Date"
          value="{{Driver_license_renewal.expiryDate if Driver_license_renewal.expiryDate}}"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="grade">Grade</label>
        <select class="form-control" id="grade" name="grade" required>
          <option value="">Select license grade</option>
          {% if Driver_license_renewal.grade %}
          <option value="{{ Driver_license_renewal.grade }}" selected>
            {{ Driver_license_renewal.grade }}
          </option>
          {% endif %}
          <option value="Auto">Auto</option>
          <option value="Public1">Public1</option>
          <option value="Public2">Public2</option>
          <option value="Heavy Truck">Heavy Truck</option>
        </select>
      </div>
    </div>
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
