{% extends "base.html" %} {% block title %}BirthCertificate{% endblock %} {%
block content %}
<link rel="stylesheet" href="/static/style_form.css" />
<div class="container mt-5 mb-5">
  <form
    method="POST"
    enctype="multipart/form-data"
    style="color: rgb(0, 0, 0)"
    onsubmit="return validateForm()"
  >
  <h3 align="center">Application</h3>
  <div class="container mt-5">
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 mx-auto">
        <div class="service-card mx-auto">
          <div class="d-flex align-items-center justify-content-center">
            <img
              id="cardImage"
              class="card-img-top2"
              src="/static/uploads/{{ Driver_license_renewal.photo.split('/')[-1] }}"
              alt="Placeholder Image"
            />
          </div>
          <input
            type="file"
            id="fileInput"
            name="fileInput"
            style="display: none"
            onchange="previewImage(this)"
          />
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          value="{{Driver_license_renewal.firstName}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="fatherName">Father's Name</label>
        <input
          type="text"
          class="form-control"
          id="fatherName"
          name="fatherName"
          value="{{Driver_license_renewal.fatherName}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="gfatherName">Grandfather's Name</label>
        <input
          type="text"
          class="form-control"
          id="gfatherName"
          name="gfatherName"
          value="{{Driver_license_renewal.gfatherName}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="birthDay">Date of Birth</label>
        <input
          type="date"
          class="form-control"
          id="birthDay"
          name="birthDay"
          value="{{Driver_license_renewal.birthDay}}"
          readonly
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="gender">Gender</label>
        <input
          type="text"
          class="form-control"
          id="gender"
          name="gender"
          value="{{Driver_license_renewal.gender}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="region">Region</label>
        <input
          type="text"
          class="form-control"
          id="region"
          name="region"
          value="{{Driver_license_renewal.region}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="subCity">Sub-City</label>
        <input
          type="text"
          class="form-control"
          id="subCity"
          name="subCity"
          value="{{Driver_license_renewal.subCity}}"
          readonly
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="woreda">Woreda</label>
        <input
          type="text"
          class="form-control"
          id="woreda"
          name="woreda"
          value="{{Driver_license_renewal.woreda}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="houseNumber">House Number</label>
        <input
          type="text"
          class="form-control"
          id="houseNumber"
          name="houseNumber"
          value="{{Driver_license_renewal.houseNumber}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          id="phoneNumber"
          name="phoneNumber"
          value="{{Driver_license_renewal.phoneNumber}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bloodType">Blood Type</label>
        <input
          type="text"
          class="form-control"
          id="bloodType"
          name="bloodType"
          value="{{Driver_license_renewal.bloodType}}"
          readonly
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="expiryDate">Current ID Expiry Date</label>
        <input
          type="date"
          class="form-control"
          id="expiryDate"
          name="expiryDate"
          value="{{Driver_license_renewal.expiryDate}}"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="grade">Grade</label>
        <input
          type="text"
          class="form-control"
          id="grade"
          name="grade"
          value="{{Driver_license_renewal.grade}}"
          readonly
        />
      </div>
    </div>
  </div>

  <br />
  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group">
      <button
        type="submit"
        name="action"
        value="approve"
        class="btn btn-success"
      >
        Approve
      </button>
      <button type="submit" name="action" value="reject" class="btn btn-danger">
        Reject
      </button>
    </div>
  </div>
  </div>
</form>

<script>
  function previewImage(input) {
if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
        document.getElementById('cardImage').src = e.target.result;
    }
    
    reader.readAsDataURL(input.files[0]);
}
}

var photoPath = "/static/uploads/{{ Driver_license_renewal.photo.split('/')[-1] }}"
if (photoPath && photoPath !== "https://via.placeholder.com/300x400") {
  var image = document.getElementById("cardImage");
  image.src = photoPath;
}
</script>
{% endblock %}
