{% extends "base.html" %} 
{% block title %}Applications{% endblock %} 
{% block content %}
<link rel="stylesheet" href="/static/style_home.css" />
<div class="container mt-5">
  <h1>User Pending Applications</h1>
  <div class="row">
    {% for user_id, applications in tables.items() %}
      <div class="col-lg-4">
        <div class="card service-card">
          <!-- Use the url_for function to generate the correct URL for the image -->
          <img src="{{ url_for('static', filename='assets/Driver\'s License Renewal.jpg') }}" class="card-img-top" alt="Driver's License Renewal" />
          <div class="card-body">
            <h5 class="card-title" style="font-size: 20px; font-weight: bold;">Applications for Review</h5>
            <div>
              <strong>User ID:</strong> {{ user_id }}
              <ul style="list-style-type: none; padding-left: 0;">
                {% for table_name in applications %}
                  <li style="font-size: 15px; font-weight: bold;">
                    {{ table_name }}
                    <div class="mt-1"> <!-- Adjusted margin here -->
                      <button class="btn btn-primary" onclick="redirectToForm('/{{ table_name.lower() }}', '{{ user_id }}')">
                        Review
                      </button>
                    </div>
                  </li>
                  <hr style="border: 1px solid #ccc; margin: 5px 0;"> <!-- Add separation between form types -->
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script>
  function redirectToForm(variable, user_id) {
    var route = "/admin/form" + variable + "?user_id=" + user_id;
    window.location.href = route;
  }
</script>
{% endblock %}