{% extends "base.html" %} {% block title %}NationalID{% endblock %} {% block
content %}
<link rel="stylesheet" href="/static/style_form.css" />

<div style="margin-top: 50px"; class="container mb-5 mb-5">
  <form
    method="POST"
    enctype="multipart/form-data"
    onsubmit="return validateForm()"
    style="color: white"
  >
  <h3 align="center">Please fill in this form</h3>

    <div class="container mt-5">
      <div class="row text-center">
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="service-card mx-auto">
            <div class="d-flex align-items-center justify-content-center">
              <img
                id="cardImage"
                class="card-img-top2"
                src="{% if National_id.photo %}/static/uploads/{{ National_id.photo.split('/')[-1] }}{% else %}https://via.placeholder.com/300x400{% endif %}"
                alt="Placeholder Image"
              />
            </div>
            {{ form.hidden_tag() }}
            <input
              type="file"
              id="fileInput"
              name="fileInput"
              style="display: none"
              onchange="previewImage(this)"
            />

            <!-- Visible button to trigger file input click -->
            <button
              type="button"
              style="width:175px"
              class="btn btn-primary rounded-bottom"
              onclick="openFileInput()"
            >
              Select Image
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"
            value="{{National_id.firstName if National_id.firstName}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="fatherName">Father's Name</label>
          <input
            type="text"
            class="form-control"
            id="fatherName"
            name="fatherName"
            placeholder="Enter Father's name"
            value="{{National_id.fatherName if National_id.fatherName}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="gfatherName">Grandfather's Name</label>
          <input
            type="text"
            class="form-control"
            id="gfatherName"
            name="gfatherName"
            placeholder="Enter Grandfather's name"
            value="{{National_id.gfatherName if National_id.gfatherName}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="birthDay">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            id="birthDay"
            name="birthDay"
            placeholder="Enter Date of Birth"
            value="{{National_id.birthDay if National_id.birthDay}}"
            required
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name="gender" required>
            <option value="">Select Gender</option>
            {% if National_id.gender %}
            <option value="{{ National_id.gender }}" selected>
              {{ National_id.gender }}
            </option>
            {% endif %}
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="region">Region</label>
          <input
            type="text"
            class="form-control"
            id="region"
            name="region"
            placeholder="Enter Region"
            value="{{National_id.region if National_id.region}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="subCity">Sub-City</label>
          <input
            type="text"
            class="form-control"
            id="subCity"
            name="subCity"
            placeholder="Enter Sub-City"
            value="{{National_id.subCity if National_id.subCity}}"
            required
          />
        </div>
      </div>

    
      <div class="col-md-3">
        <div class="form-group">
          <label for="woreda">Woreda</label>
          <input
            type="text"
            class="form-control"
            id="woreda"
            name="woreda"
            placeholder="Enter Woreda"
            value="{{National_id.woreda if National_id.woreda}}"
            required
          />
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="houseNumber">House Number</label>
          <input
            type="text"
            class="form-control"
            id="houseNumber"
            name="houseNumber"
            placeholder="Enter House Number"
            value="{{National_id.houseNumber if National_id.houseNumber}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="phoneNumber">Phone Number(+251-{9 digits})</label>
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
            placeholder="Enter Phone Number"
            value="{{National_id.phoneNumber if National_id.phoneNumber}}"
            pattern="^(\+251-)?\d{9}$"
            value="+251-"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="bloodType">Blood Type</label>
          <select class="form-control" id="bloodType" name="bloodType" required>
            <option value="">Select Bloodtype</option>
            {% if National_id.bloodType %}
            <option value="{{ National_id.bloodType }}" selected>
              {{ National_id.bloodType }}
            </option>
            {% endif %}
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
          </select>
        </div>
      </div>
  

    
      <div class="col-md-3">
        <div class="form-group">
          <label for="expiryDate">Current ID Expiry Date</label>
          <input
            type="date"
            class="form-control"
            id="expiryDate"
            name="expiryDate"
            placeholder="Current ID Expiry Date"
            value="{{National_id.expiryDate if National_id.expiryDate}}"
            required
          />
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="ecName">Emergency Contact Name</label>
          <input
            type="text"
            class="form-control"
            id="ecName"
            name="ecName"
            placeholder="Enter Emergency Contact Name"
            value="{{National_id.ecName if National_id.ecName}}"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="ecphoneNumber"
            >Emergency Contact Number</label
          >
          <input
            type="tel"
            class="form-control"
            id="ecphoneNumber"
            name="ecphoneNumber"
            placeholder="Enter Emergency Contact Phone Number"
            value="{{National_id.ecphoneNumber if National_id.ecphoneNumber}}"
            pattern="^(\+251-)?\d{9}$"
            value="+251-"
            required
          />
        </div>
      </div>
    </div>

    <br />
    <!-- Additional form rows -->

    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary btn-sm" style="width: 100px">
        Submit
      </button>
    </div>
  </form>

  <script>
    function redirectToForm(formPath) {
      // Add your logic to redirect to the specified form path
      console.log("Redirect to form: " + formPath);

      // Trigger the file input click when "Apply" is clicked
      var fileUploadButton = document.getElementById("fileUpload");
      fileUploadButton.click();
    }

    function openFileInput() {
      // Trigger the hidden file input click when the button is clicked
      document.getElementById("fileInput").click();
    }

    function validateForm() {
      var fileInput = document.getElementById("fileInput");
      var photoPath = "{{ National_id.photo }}";
      if (!photoPath && fileInput.files.length === 0) {
        alert("Please upload an image.");
        return false;
      }
      return true;
    }

    function previewImage(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
            document.getElementById('cardImage').src = e.target.result;
        }
        
        reader.readAsDataURL(input.files[0]);
    }
}

var photoPath = "{% if National_id.photo %}/static/uploads/{{ National_id.photo.split('/')[-1] }}{% else %}https://via.placeholder.com/300x400{% endif %}"
if (photoPath && photoPath !== "https://via.placeholder.com/300x400") {
      var image = document.getElementById("cardImage");
      image.src = photoPath;
    }
  </script>
</div>
{% endblock %}
