{% extends "base.html" %} {% block title %}Reject{% endblock %} {% block content
%}
<form
  method="POST"
  enctype="multipart/form-data"
  onsubmit="return validateForm()"
>
  <h3 align="center">Add a comment</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" class="form-control" id="comment" name="comment"
        placeholder="Add a comment here"
      </div>
    </div>
  </div>

  <input type="hidden" name="table_name" value="{{ table_name }}" />

  <input type="hidden" name="user_id" value="{{ user.id }}" />

  <br />
  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group">
      <button
        type="submit"
        name="action"
        value="submit"
        class="btn btn-primary"
        onclick="setRequired(true)"
      >
        Submit
      </button>
      <button
        type="close"
        name="action"
        value="close"
        class="btn btn-primary"
        onclick="setRequired(false)"
      >
        Close
      </button>
    </div>
  </div>
</form>

<script>
  // Function to dynamically set the required attribute
  function setRequired(isRequired) {
    const commentInput = document.getElementById("comment");
    commentInput.required = isRequired;
  }
</script>
{% endblock %}
