{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/style_form.css" />

<div class="container mt-5 mb-5">
  <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
    <h3 align="center">Please choose dates and times when you will be available to verify the user's identity</h3>

    <div class="container mt-5">
      <div class="row text-center">
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="service-card mx-auto"></div>
        </div>
      </div>
      <div class="card rounded-lg bg-blur">
        <div class="card-body">

      <div class="row">
        {% for i in range(1, 6) %}
        <div class="col-md-3">
          <div class="form-group">
            <label for="date{{ i }}">Date</label>
            <input type="date" class="form-control" id="date{{ i }}" name="date{{ i }}" onchange="showTimeForm('timeForm{{ i }}')" />
            <div id="timeForm{{ i }}" class="time-group" style="display: none;">
              <div class="time-group">
                <div class="time-label">
                  <label for="hour{{ i }}">Hour</label>
                  <select id="hour{{ i }}" name="hour{{ i }}" class="time-select  form-control">
                    <option value="">Set</option>
                    {% for hour in range(1, 13) %}
                    <option value="{{ '%02d'|format(hour) }}">{{ '%02d'|format(hour) }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="time-label">
                  <label for="minute{{ i }}">Minute</label>
                  <select id="minute{{ i }}" name="minute{{ i }}" class="time-select  form-control">
                    <option value="">Set</option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                  </select>
                </div>
                <div class="time-label">
                  <label for="ampm{{ i }}">AM/PM</label>
                  <select id="ampm{{ i }}" name="ampm{{ i }}" class="time-select  form-control">
                    <option value="">Set</option>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <br />
      <div class="d-flex justify-content-center">
        <div class="btn-group" role="group">
          <button type="submit" name="action" value="approve" class="btn btn-success">
            Submit
          </button>
        </div>
      </div>
    </div>
    </div>
    </div>
  </form>

  <script>
    function validateForm() {
      var dates = [];
      var times = [];

      for (var i = 1; i <= 5; i++) {
        var date = document.getElementById('date' + i).value;
        var time =
          document.getElementById('hour' + i).value +
          document.getElementById('minute' + i).value +
          document.getElementById('ampm' + i).value;

        if (date !== '' && time !== '') {
          dates.push(date);
          times.push(time);
        }
      }

      if (dates.length >= 2) {
        return true;
      } else {
        alert('Please insert at least two dates and their associated times.');
        return false;
      }
    }

    function showTimeForm(id) {
      var timeForm = document.getElementById(id);
      timeForm.style.display = 'block';
    }
  </script>
</div>
{% endblock %}
