{% extends "base.html" %} 
{% block title %}Signup{% endblock %} 
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card service-card">
                <img src="static/assets/signup.jpg" class="card-img-top" alt="Signup">
                <div class="card-body">
                    <div class="blurred-card">
                        <form method="POST" style="color: white;">
                            <h3 align="center">Sign Up</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">Email Address</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="password1">Password</label>
                                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="password2">Password (Confirm)</label>
                                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-sm" style="width: 150px;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
